<div class="container">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-sm-12 col-md-11">
      <h1>Übersicht</h1>

      <div *ngIf="all$ | async as all else noData">
        <div class="ml-md-4 ml-sm-0">
          <app-numbers [config]="numbersConfig" [all]="all"></app-numbers>
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" (click)="configForToday()" class="btn btn-primary">Heute</button>
            <button type="button" (click)="configForThisWeek()" class="btn btn-primary">Diese Woche</button>
            <button type="button" (click)="configForLastMonth()" class="btn btn-primary">Dieser Monat</button>
          </div>
        </div>


        <app-overview-chart [config]="chartConfig" [all]="all"></app-overview-chart>


      </div>
      <h2 class="mt-5">Informationen</h2>
      <p>Hier sehen sie eine Übersicht über ihren Stromverbrauch. Mithilfe der Knöpfe können sie die Zeitdauer anpassen.
        In rot sehen sie den aktuellen Verbrauch über eine Zeitspanne und in blau kann man den Durchschnitt erkennen. 
      </p>
      <p>Die Zahlen oberhalb der Abbildung zeigen an wie hoch ihr Stromverbrauch innerhalb der gewählten Zeit im Vergleich zum Durchschnitt ist. </p>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>