<div class="container">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-sm-12 col-md-11">
      <h1>Übersicht</h1>

      <div *ngIf="all$ | async as all else noData">
        <div class="ml-4">
          <app-numbers [config]="numbersConfig" [all]="all"></app-numbers>
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" (click)="configForToday()" class="btn btn-primary">Heute</button>
            <button type="button" (click)="configForThisWeek()" class="btn btn-primary">Diese Woche</button>
            <button type="button" (click)="configForLastMonth()" class="btn btn-primary">Dieser Monat</button>
          </div>
        </div>


        <app-overview-chart [config]="chartConfig" [all]="all"></app-overview-chart>


      </div>
      <h2 class="mt-5">Informationen</h2>
      <p>Hier sehen sie eine übersicht über ihren Stromverbrauch. Mithilfe der Knöpfe können sie die Zeitdauer ansehen.
      </p>
      <p>Hier sehen sie eine kurze nummerischen Vergleich ihers aktuellen Verbrauchs zu diesem in dieser Woche.</p>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>