<div class="container">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-sm-12 col-md-11">
      <h1>Durchschnittlicher Stromverbrauch</h1>
      <p class="ml-2 mt-4 mb-4">In rot sehen Sie den aktuellen Verbrauch über eine Zeitspanne und in blau kann man den Durchschnitt erkennen.</p>

      <div *ngIf="all$ | async as all else noData">
        <div class="ml-md-4 ml-sm-0">
          <app-numbers [config]="numbersConfig" [all]="all"></app-numbers>
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" (click)="configForToday()" class="btn btn-primary">Heute</button>
            <button type="button" (click)="configForThisWeek()" class="btn btn-primary">Diese Woche</button>
            <button type="button" (click)="configForLastMonth()" class="btn btn-primary">Dieser Monat</button>
          </div>
        </div>


        <app-overview-chart [config]="chartConfig" [all]="all"></app-overview-chart>


      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>